/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/08/2019, 12:51:49 AM
    Author     : Josue A cC
*/


.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #000000; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ed7b23), color-stop(1, #ed7b23) );background:-moz-linear-gradient( center top, #ed7b23 5%, #ed7b23 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed7b23', endColorstr='#ed7b23');background-color:#ed7b23; color:whitesmoke; font-size: 15px; font-weight: bold; border-left: 1px solid #A81A0A; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #000000; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: whitesmoke; color: whitesmoke; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }

